<form class="list" [formGroup]="form">
  <div formArrayName="itemArray">
    <ul *ngFor="let item of ItemFormA().controls; let i=index">
      <li [formGroupName]="i" >
        <input matInput formControlName="descripcion">
        <input matInput formControlName="url">
        <a>{{ i }}</a>

        <!-- <mat-label formControlName="description"></mat-label>
        <mat-label formControlName="url"></mat-label> -->
        <span>
          <button class="btn btn-danger" (click)="removeItem(i)">X</button>
          <button class="btn btn-info" (click)="editTask(i)">Editar</button>
          <button class="btn btn-success" (click)="completeTask(i)">V</button>
        </span>
      </li>
    </ul>
  </div>
</form>

 <!-- <li *ngFor="let task of list" [class.completed] = "task.isCompleted"
        class="list-item">
        <mat-label>{{task.description}}</mat-label>
        <mat-label>{{task.url}}</mat-label>
        <span>
          <button class="btn btn-danger" (click)="removeItem(task.id)">X</button>
          <button class="btn btn-info" (click)="editTask(task)">Editar</button>
          <button class="btn btn-success" (click)="completeTask(task)">V</button>
        </span>
      </li> -->


<!-- <app-todo-form [item]="getItem()" ></app-todo-form> -->
