  <div class="list">  
    <ul *ngFor="let item of list" >
      <li>
        <mat-label>{{item.description}}</mat-label>
        <mat-label>{{item.url}}</mat-label>        
        <span>
          <button class="btn btn-danger" (click)="removeItem(item.id)">X</button>
          <button class="btn btn-info" (click)="editTask(item)">Editar</button>
          <button class="btn btn-success" (click)="completeTask(item.id)">V</button>
        </span>
      </li>
    </ul>
  </div> 

<!-- <app-todo-form [item]="getItem()" ></app-todo-form> -->
