<mat-toolbar color="primary" *ngIf="isUserLoggedIn | async as isLoggedIn">
  <span>
    Angular NavBar + Login Example
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button [matMenuTriggerFor]="article">Articulo</button>
  <button mat-button [matMenuTriggerFor]="comment">Comentario</button>

  <mat-menu #article="matMenu">
    <button mat-menu-item routerLink="/article/home">Lista de articulos</button>
  </mat-menu>

  <mat-menu #comment="matMenu">
    <button mat-menu-item routerLink="/comment/home">Lista de comentarios</button>
  </mat-menu>

  <button mat-button (click)="onLogout()" *ngIf="isLoggedIn">Logout</button>
</mat-toolbar>
<div>
  <router-outlet></router-outlet>
</div>