.signin-content {    
    padding-bottom: 2rem;
    background-color: #fdfdfd;
    height: 100vh;    
    // display: flex;
  }

  form{
    padding: 130px 10px 10px 10px; 
    background-color: ghostwhite;
  }