<p>login works!</p>
<div class="container">
<form formGroup="form" (ngSubmit)="submit()">
  <mat-card>
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-6">
        <mat-form-field>
          <mat-label>
            Usuario
          </mat-label>
          <input formControlName="user">
        </mat-form-field>
      </div>
      <div class="col-sm-3 col-md-6 col-lg-6">
        <mat-form-field>
          <mat-label>
            Contraseña
          </mat-label>
          <input formControlName="user">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 col-md-6 col-lg-6">
        <button mat-button type="submit" color="primary">Primary</button>
      </div>
      <!-- <div class="col-sm-3 col-md-6 col-lg-6">
        <a mat-button routerLink="/change-password" target="_blank">Me olvide la contraseña</a>
      </div> -->
    </div>

  </mat-card>
</form>
</div>
