<br>
<br>
<div>
  <form [formGroup]="todoItemForm" (ngSubmit)="onSubmit()">
  <label>
    Descripción:
    <input type="text" formControlName="description">
  </label>
  <label>
    Url:
    <input type="text" formControlName="url">
  </label>
  <button type="submit" [disabled]="!todoItemForm.valid">Guardar</button>
  <button type="button" (click)="initialize()" >Reset</button>
</form>
</div>

<!--
<div>
  <div>
    Valido {{todoItemForm.valid}}

  </div>
  Touched {{todoItemForm.touched}}
</div>


<form [formGroup]="todoItemForm" (ngSubmit)="onSubmit()">
  <label>
    Descripción:
    <input type="text" formcontrolname="description">
  </label>  
<button type="submit" [disabled]="!todoItemForm.valid">Crear</button>
</form>
-->

